Package: com.ps.emojiportpe
Name: EmojiPort (iOS 12.0-14.0)
Depends: firmware (>= 12.0), firmware (<< 14.1), com.ps.emojiattributes (>= 1.3.24-2), com.ps.emojilibrary (>= 1.2~b1), com.ps.emojiport10resources (>= 1.1~b1)
Version: 1.0.0
Architecture: iphoneos-arm
Description: Latest emojis for iOS 12.0-14.0
Maintainer: PoomSmart
Author: PoomSmart
Section: Tweaks
Depiction: https://poomsmart.github.io/repo/depictions/emojiport_12.html
SileoDepiction: https://poomsmart.github.io/repo/sileodepictions/emojiport_12.json
