Package: com.ps.emojiportpe
Name: EmojiPort (iOS 12.0-14.4)
Depends: firmware (>= 12.0), firmware (<< 14.5), com.ps.emojiattributes (>= 1.4.4~b1), com.ps.emojilibrary (>= 1.2.2~b5), com.ps.emojiport10resources (>= 1.2.2)
Version: 1.0.0
Architecture: iphoneos-arm
Description: Latest emojis for iOS 12.0-14.4
Maintainer: PoomSmart
Author: PoomSmart
Section: Tweaks
Depiction: https://poomsmart.github.io/repo/depictions/emojiport_12.html
SileoDepiction: https://poomsmart.github.io/repo/sileodepictions/emojiport_12.json
Tag: compatible::ios12, compatible::ios13, compatible::ios14
